<article class="destination">
    <header>
        <h2>{{destination.name}}</h2>
    </header>

    <table class="destination">
        <tr>
            <td>Region:</td>
            <td>{{destination.region}}</td>
        </tr>
        <tr>
            <td>Climate:</td>
            <td>{{destination.climate}}</td>
        </tr>
        <tr>
            <td>Rating:</td>
            <td>{{destination.rating}}</td>
        </tr>
        <tr>
            <td>Number of Ratings:</td>
            <td>{{destination.numOfRating}}</td>
        </tr>
    </table>
</article>

<section class="comments">
    <header>
        <h3>Comments:</h3>
    </header>

    {{#if user}}
    <h4>Add a Comment: </h4>
    <form id="addComment-form" action="/destination/addComment" method="POST">

    </form>
</section>